<%= form_with model: model, local: true do |form| %>
  <%= image_tag 'cocktail2.jpg', width: '150px', class: "rounded-circle centered" unless local_assigns[:nested_form] %>
  <div class='container-fluid'>
    <h1 class="h2 mb-4 font-weight-8px text-white text-center font-italic"><%= heading if local_assigns[:nested_form] %></h1>
    <div class="container">
      <% unless local_assigns[:nested_form] %>
        <%= form.label :full_name, class: "sr-only " %>
        <%= form.text_field :full_name, class: "form-control form-color mt-2", placeholder: "Full name" %>
        <%= form.label :first_name, class: "sr-only" %>
        <%= form.text_field :first_name, class: "form-control form-color mt-2", placeholder: "First name" %>
        <%= form.label :last_name, class: "sr-only" %>
        <%= form.text_field :last_name, class: "form-control form-color mt-2", placeholder: "Last name" %>
        <%= form.label :email, class: "sr-only" %>
        <%= form.email_field :email, class: "form-control form-color mt-2", placeholder: "Email adress" %>
        <%= form.label :password, class: "sr-only" %>
        <%= form.password_field :password, class: "form-control form-color mt-2", placeholder: "Password" %>
        <%= form.label :password_confirmation, class: "sr-only" %>
        <%= form.password_field :password_confirmation, class: "form-control form-color mt-2", placeholder: "Confirm password" %>
      <% else %>
        <%= render 'components/errors', model: model %>
        <%= form.label :title, class: "sr-only" %>
        <%= form.text_field :title, class: "form-control form-color", placeholder: "Title" %>
        <%= form.label :description, class: "sr-only" %>
        <%= form.text_area :description, class: "form-control form-color mt-4", placeholder: "Description" %>
        <div class='row'>
          <div class="col-sm-5 mt-4 ml-5">
            <%= render "components/ingredients", form: form %>
          </div>
          <div class="col-sm-5 mt-4 ml-5">
            <%= render "components/instructions", form: form %>
          </div>
        </div>
      <% end %>
    </div>
    <br>
  </div>
  <div class="container">
    <%= form.submit button_name, class: "btn btn-lg recipe-faded btn-block font-italic"%>
  </div>
<%end%>