<div class="row ">
  <div class="col-sm-5 mt-4 ml-5">
    <%= form.fields_for :ingredients do |f| %>
      <%= f.label :body, class: "sr-only" %>
      <%= f.text_field :body, class: "form-control form-color", placeholder: "Ingredient" %>
      <%= f.check_box :_destroy %>
      <%= f.label "Delete", class: 'text-white'%>
    <% end %>
  </div>
  <div class="col-sm-5 mt-4 ml-5">
    <%= form.fields_for :instructions do |f| %>
      <%= f.label :body, class: "sr-only" %>
      <%= f.text_field :body, class: "form-control form-color", placeholder: "Instruction" %>
      <%= f.check_box :_destroy %>
      <%= f.label "Delete", class: 'text-white' %>
    <% end %>
  </div>
</div>
