<div class="row ">
  <%= form.fields_for :ingredients do |f| %>
    <div class="col-sm-5 mt-3">
      <%= f.label :body, class: "sr-only" %>
      <%= f.text_field :body, class: "form-control form-color", placeholder: "Ingredient" %>
    </div>
    <div class="col-sm-1 mt-3 ">
      <%= f.check_box :_destroy %>
      <%= f.label "Delete" %>
    </div>
  <% end %>
  <%= form.fields_for :instructions do |f| %>
    <div class="col-sm-5 mt-2">
      <%= f.label :body, class: "sr-only" %>
      <%= f.text_field :body, class: "form-control form-color", placeholder: "Instruction" %>
    </div>
    <div class="col-sm-1 mt-2 ">
      <%= f.check_box :_destroy %>
      <%= f.label "Delete" %>
    </div>
  <% end %>
</div>
