<div class="row">
  <div class="col-sm-6 ml-5 ">
    <div class="container mt-5">
      <div class=" card rounded-circle recipe-color ">
        <div class=" text-center">
          <% unless local_assigns[:show] %>
            <%= link_to "Show", user_recipe_path(recipe.user, recipe), class: "btn recipe-color ml-2 mt-3 text-white font-italic"%>
            <% if equal_with_current_user(recipe.user) %>
              <%= link_to "Edit cocktail", edit_recipe_path(recipe), class: "btn recipe-color ml-2 text-white font-italic" %>
              <%= link_to "Delete", recipe_path(recipe), class: "btn recipe-color mt-3 ml-2 text-white font-italic",
              method: :delete, data: { confirm: 'Are you sure you want to delete this cocktail recipe?'}%>
            <% end%>
          <% else %>
            <%= link_to "Back", root_path, class: "btn recipe-color mt-2 text-white font-italic"%>
          <% end %>
        </div>
        <div class="card-body text-center text-white font-italic"">
          <h2><strong><%= recipe.title %></strong></h2>
        </div>
        <div class="card-body text-center text-white mb-3 font-italic">
          <%= recipe.description %>
        </div>
        <div class="card-body text-white text-center font-italic">
          <strong>Created by: <%=link_to "#{recipe.user.full_name}", user_path(recipe.user), class: 'text-warning' %></strong>
          <strong><%=time_ago_in_words(recipe.created_at) %> ago</strong>
        </div>
      </div>
    </div>
  </div>
  <div class="card recipe-faded mt-5 ml-4 card-width">
    <div class="card-body text-warning">
      <div class="card-title font-italic mb-5">
        <h5>Ingredients needed for preparing</h5>
      </div>
      <% recipe.ingredients.each do |ingredient| %>
      <ul class='font-italic'>
        <li>
          <%= ingredient.body %>
        </li>
      </ul>
      <% end %>
    </div>
    <div class='card-footer'>
      <%= link_to "Edit/Delete ingrediants", edit_recipe_path(recipe), class: 'text-warning font-italic'%>
    </div>
  </div>
  <div class="card text-white recipe-color mt-5 ml-5 card-width">
    <div class="card-header font-italic">
      <h5>Instructions for preparing</h5>
    </div>
    <div class="card-body">
      <% recipe.instructions.each do |instruction| %>
      <ol class="mb-0 font-italic">
        <li>
          <%= instruction.body %>
        </li>
      </ol>
      <% end %>
    </div>
    <div class='card-footer recipe-color'>
      <%= link_to "Edit/Delete instructions", edit_recipe_path(recipe), class: 'text-white font-italic'%>
    </div>
  </div>
</div>