<% @recipes.each do |recipe|%>
  <div class="row bg-light">
      <div class="col-sm-6 ml-5 ">
        <div class="container mt-5">
          <div class=" card ">
            <div class="card-header text-success">
              <ul class="nav nav-pills card-header-pills">
                <li class="nav-item">
                  <%= link_to "Show", recipes_path(recipe), class: "nav-link text-success"%>
                </li>
                <li class="nav-item">
                  <%= link_to "Edit", edit_recipe_path(recipe), class: "nav-link text-success"%>
                </li>
                <li class="nav-item">
                  <%= link_to "Delete", recipe_path(recipe), method: :delete, data: { confirm: 'Are you sure you want to delete this recipe?'}, class: "nav-link text-success"%>
                </li>
              </ul>
            </div>
            <div class="card-body text-center text-success">
              <strong><%= recipe.title %></strong>
            </div>
            <div class="card-body text-center text-success">
              <%= recipe.description %>
            </div>
            <div class="card-footer text-muted">
              <strong><%=time_ago_in_words(recipe.created_at)%> ago</strong>
            </div>
          </div>
        </div>
      </div>
      <div class="card border-success mt-5 ml-5 card-width">
        <div class="card-header">Header</div>
        <div class="card-body text-success">
          <h5 class="card-title">Info card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
      <div class="card text-white bg-success mt-5 ml-5 card-width">
        <div class="card-header">Header</div>
        <div class="card-body">
          <h5 class="card-title">Success card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
  </div>
<%end %>
