<div class='container mt-5'>
  <div class="row text-center">
    <div class="col-sm-8">
      <body class="text-center bg-light">
        <%= form_with url: login_path, scope: :session, local: true do |form| %>
          <%= image_tag 'cocktail1.jpg', width: '100px', class: "rounded-circle" %>
          <div class='container-fluid'>
            <%= form.label :full_name, class: "sr-only" %>
            <%= form.text_field :full_name, class: "form-control recipe-color mt-4", placeholder: "Full name" %>
            <%= form.label :email, class: "sr-only" %>
            <%= form.email_field :email, class: "form-control recipe-color mt-4", placeholder: "Email address" %>
            <%= form.label :password, class: "sr-only" %>
            <%= form.password_field :password, class: "form-control recipe-color mt-4", placeholder: "Password" %>
            <%= form.submit "Log in", class: "btn btn-lg recipe-color btn-block mt-5 font-italic"%>
          </div>
        <%end%>
      </body>
    </div>
    <div class="col-sm-4">
      <%= render 'components/errors', model: @user %>
      <%= render 'components/form', model: @user , button_name: "Sign up", heading: "Sign up", new: true %>
    </div>
  </div>
</div>
